<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} &ndash; {{ subtitle }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">

    <meta name="description" content="The website of Keith R. Petersen">
    <meta property="og:title" content="{{ title }} &ndash; {{ subtitle }}">
    <meta property="og:description" content="The website of Keith R. Petersen">
    <meta property="og:type" content="website">

</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>&copy; {{ current_year }} Keith R. Petersen</p>
<p>
    <a href="https://github.com/keithly">GitHub</a>
    <a href="https://www.linkedin.com/in/keithpetersen">LinkedIn</a>
    <a href="mailto:krp@keithrpetersen.com">krp@keithrpetersen.com</a>
</p>
</section>
</footer>

</body>
</html>
